<!--
    We need to install layout library 
    npm install express-ejs-layouts  
    This is a layout in which we have created a wrapper around body which is variable that means we 
    can change it  -->
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <!-- This will put the css styles of css static pages here -->
    <%- style %>
</head>
<body>
    <!-- Partial -->
    <%- include('_header'); %> 

    <!-- Variable Part -->
    <%- body %>

    <!-- Partial -->
    <%- include('_footer'); %>   
    
    <%- script%>
</body>
</html>